  <div class="container">
    <div class="row">
      <nav>
        <button (click)="gotoGallery(image)" class="btn btn-outline-secondary">Back to the gallery</button>
      </nav>
    </div>  

    <div class="row">
    <h3 class="form-title mt-3">Add new photo:</h3>

    <form *ngIf="images$ | async as images" #myForm="ngForm" (ngSubmit)="add(NewTitle, NewUrl)" class="form-inline">
      <label for="NewTitle">Enter title of the new img:
        <input [(ngModel)]="NewTitle" name="NewTitle" id="NewTitle" class="form-control mx-2" placeholder="title img" #NewImageModel="ngModel" required />
      </label>
      <label for="NewUrl">Enter url of the new img:
        <input [(ngModel)]="NewUrl" type="url" name="NewUrl" id="NewUrl" class="form-control mx-2"  placeholder="https://..." pattern="https://.*" size="20" required />
      </label>
      <div>
        <button [disabled]="myForm.invalid" class="btn btn-primary" disabled>Add photo</button>
      </div>
    </form>
  </div>
</div>