<div class="container">
  <div class="row">
    <app-gallery-form [images]="images"></app-gallery-form>
  </div>
  <div class="row">
      <ul id="imageList" class="list-inline text-center mt-5">
        <li *ngFor="let image of images" class="list-inline-item align-middle">
          <figure class="figure">
              <img [src]="image?.url" class="figure-img img-fluid rounded mx-auto d-block img-thumbnail">
              <figcaption class="figure-caption pb-2">{{image?.title}}</figcaption>
              <app-gallery-item [images]="images" (delete)="onDelete = $event"></app-gallery-item>
          </figure>
        </li>
      </ul>    
  </div>
</div>
